body,
html {
    height: 100%;
    margin: 0;
}

.full-background {
    min-height: 100vh;
    background: url(./img/paniales.jpg) no-repeat center center fixed;
    background-size: cover;
}

#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    justify-items: center;
    height: 100vh;
}

#dashboard {
    display: flex;
    flex-wrap: wrap;
    height: 800px;
    background-color: rgb(171, 168, 168, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 10px;
}

h2 {
    font-family: 'Arial Black', sans-serif;
    padding: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#AgregarEvento {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

form {
    padding-top: 2px;
    justify-items: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 5% 10% 5% 10% 5% 30% 15%;
    grid-gap: 10px 20px;
}

#dashboard input[type=datetime-local],
#dashboard select {
    width: 50%;
    font-size: small;
}

#agregarEvento label {
    width: 100%;
}

textarea {
    width: 50%;
    resize: none;
}

#listadoEventos div {
    text-align: center;
    justify-content: center;
    margin: 10px auto;
}

#evento {
    padding-top: 2px;
    padding-bottom: 10px;
    margin: 0 auto;
    border-radius: 5%;
    width: 50%;
    background-color: rgba(47, 161, 255, 0.8);
    border: solid 1px;
}

#informeEventos {
    height: 50%;
}

#biberones {
    background-color: rgba(255, 122, 89, .8);
    width: 80%;
    border-radius: 2%;
    margin: 0 auto;
    border: 1px solid #000;
    margin-bottom: 10px;
}

#paniales {
    background-color: rgba(64, 158, 235, 0.8);
    width: 80%;
    border-radius: 2%;
    margin: 0 auto;
    border: 1px solid #000;
}

#analisis {
    display: flex;
    flex-wrap: wrap;
}

#listadoEventos {
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.custom-hover:hover {
    background-color: #a02a1d !important;
    border-color: #a02a1d !important;
}

.scroll-container {
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    margin-top: 20px;
}

.scroll-item {
    padding: 10px;
    border-radius: 5px;
    background-color: #fc0202;
}

.button-container-interno {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fc0202;
}

.button-container-interno:hover {
    background-color: #9c0000 !important;
}

.button-cerrarSesion :hover {
    background-color: #000000 !important;
}

#evento img {
    margin: 10px 5px;
    vertical-align: middle;
    /* Alinea la imagen con el texto */
}

#biberonPositivo {
    color: green;
}

#biberonNegativo {
    color: red;
}

#tiempoRestante {
    background-color: rgba(235, 234, 229, 0.986);
    width: 60%;
    margin: 0 auto;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #000;
}

#cerrarSesion {
    background-color: rgb(200, 15, 15) !important;
    border-radius: 5px;
    border: solid 1px black;
}